<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "{{ url_for('static',filename='loginpage.css') }}">
        <title> Media Storage Service </title>
    </head>
    
    <body>
        <body>
            <div class="login-page">
                <div class="form">
                    <div class="login">
                        <div class="login-header">
                            <h3>LOGIN</h3>
                            <p>Please enter your credentials to login.</p>
                        </div>
                    </div>
                
                    <form class="login-form" method = "post">
                    <input type="text" placeholder="username" name="log_username"/>
                    <input type="password" placeholder="password" name="log_password"/>
                    <input id="login" type="submit" value="Login" name="submit-btn" text="submit">
                    <p class="message">Not registered? <a href="registerPage">Create an account</a></p>
                    </form>
                    
                    <p style='color:red' class="message">{{ message }}</p>
                </div>
            </div>
        </body>
    </body>
</html>