@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: Roboto;
    background-size: cover;
    background-image: url("pics/199822.jpg");
    background-color: #fcdbc8;
    background-attachment: fixed;
    margin: auto;
    max-width: 2307px;
    color: #fcdbc8;
}

header{
    background-color: #424161;
    display: flex;
    justify-content: space-between;
    height: 40px;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo{
    font-size: 20px;
    padding: 10px;
}

.map{
    font-size: 14px;
}

span a:hover{
    text-decoration: underline;
}

ul.nav{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px;
}

a{
    color: #fcdbc8;
    text-decoration: none;
}

.nava:hover{
    background-color: #fcdbc8;
    color: #424161;
}

.content{
    margin: 50px;
    padding-top: 50px;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: auto;
    position: relative;
    align-items: center;
    row-gap: 20px;
    font-size: 25px;
}

.grid-item{
    color: #fcdbc8;
    background-color: #424161;
    justify-content: space-between;
    display: flex;
    opacity: 90%;
    
}

.grid-item:hover{
    background-color: #2c1029;
    opacity: 100%;
}

hr{
    background-color: #fcdbc8;
    color: #fcdbc8;
}

.item-text{
    margin: 10px;
    width: 100%;
}

.item-title{
    text-align: center;
}

.item-pic{
    margin: 10px;
    width: 100%;
    justify-content: center;
    transform: translateY(20%);
}

footer{
    background-color: #424161;
    text-align: right;
    position: fixed;
    width: 100%;
    max-width: 2307px;
    bottom: 0;
    margin: 0;
}

.tag{
    margin: 1.5px;
}